/**
 * Main reset
 * ----------
 */
html, body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

/**
 * Centering utilties
 * ------------------
 */
.center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.middle {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }

.center-middle {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.center-trans {
  left: 50%;
  transform: translateX(-50%); }

.middle-trans {
  top: 50%;
  transform: translateY(-50%); }

.center-middle-trans {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/**
 * Generic utilties
 * ----------------
 */
.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.hide {
  display: none; }

.offstage {
  left: -9999px;
  top: -9999px; }

.anti-alias {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0); }

.line-fix {
  outline: 1px solid transparent; }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

.transform-reset {
  transform: none !important; }

/**
 * Main base
 * ---------
 * Generic ad layout file
 */
body {
  background: #707070; }

#ad_content {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden; }
  #ad_content div, #ad_content svg {
    position: absolute; }

.backup {
  background: url("backup.jpg") -1px -1px no-repeat;
  background-size: 300px 50px; }

#ad_content, .backup {
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: 300px;
  height: 50px; }

/* ---------------------------------------- */
#img_1 {
  top: -2px;
  right: 181px; }

#txt_1 {
  top: 20px;
  right: 77px; }

#txt_2 {
  top: 30px;
  right: 58px; }

#txt_3 {
  top: 17px;
  right: 11px; }

#logo {
  top: 8px;
  right: 19px; }

#cta {
  background: black;
  width: 39px;
  height: 12px;
  top: 26px;
  left: 249px; }

#color {
  background-color: white;
  width: 300px;
  height: 4px;
  top: 45px; }

.sprite-png { background-image: url('sprite.png') }
.sprite-png.frame {
  width: 300px;
  height: 50px;
  background-position: 0px -60px; }
.sprite-png.img_1 {
  width: 346px;
  height: 50px;
  background-position: 0px 0px; }
.sprite-svg { background: url('sprite.svg') no-repeat; }
.sprite-svg.cta_txt {
  background-position: 44.585239938988614% 64.6721605159441%;
  width: 31.77px;
  height: 6.09px; }
.sprite-svg.logo {
  background-position: 0 96.76910953506697%;
  width: 19.71px;
  height: 8.62px; }
.sprite-svg.txt_1 {
  background-position: 0 37.10567823343849%;
  width: 97.05px;
  height: 8.64px; }
.sprite-svg.txt_2 {
  background-position: 0 0;
  width: 116.23px;
  height: 9.41px; }
.sprite-svg.txt_3 {
  background-position: 0 65.66024008730447%;
  width: 38px;
  height: 6.51px; }
